{% extends 'WhosOnAux/primary.html' %}

{% block title %}
  Attending
{% endblock %}


{% block content %}
    <div class="row">
        <div class="container bg-dark text-light">
            <h1>Attending</h1>
        </div>
    </div>
    <div class="row">
        <div class="grid-container" style="display:grid; grid-template-columns: repeat(auto-fill, minmax(310px, 2fr))">
            <ul>
                {% for x in attending_parties %}
                    <a href="/attending/{{ x.id }}">{{ x.name }}</a>
                    <p></p>
                {% empty %}
                    <li>Not attending any parties</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}