{% extends 'WhosOnAux/primary.html' %}

{% block title %}
  Hosting
{% endblock %}


{% block content %}
    <div class="row">
        <div class="container bg-dark text-light">
            <h1>Hosting</h1>
        </div>
    </div>
    <div class="row">
        <div class="container bg-dark text-light">
            <ul>
                {% for x in hosting_parties %}
                    <a href="/dashboard/{{x.party_id}}">{{x.name}}</a>
                    <p></p>
                {% empty %}
                    <p>Not hosting any parties</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}