{% extends 'WhosOnAux/primary.html' %}

{% block title %}
  Home
{% endblock %}


{% block content %} <!-- inside container-fluid -->
    {% if user.is_authenticated %}
        <h1 class="text-light">USER HOME</h1>
        <div class="row">
            <div class="col">
                <div class="container p-5 my-5 bg-light text-center position-relative">
                    <h2>Hosting</h2>
                    <a href="/hosting" class="stretched-link"></a>
                </div>
            </div>

            <div class="col">
                <div class="container p-5 my-5 bg-light text-center position-relative">
                    <h2>Attending</h2>
                    <a href="/attending" class="stretched-link"></a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log in</a>
        </div>
    {%  endif %}
{% endblock %}