{% extends 'WhosOnAux/primary.html' %}

{% block title %}
  Home
{% endblock %}


{% block content %} <!-- inside container-fluid -->
    <h1 class="text-light">USER HOME</h1>
    <div class="row">
        <div class="col">
            <div class="container p-5 my-5 bg-light text-center position-relative">
                <h2>Hosting</h2>
                <a href="/{{ user_id }}/hosting" class="stretched-link"></a>
            </div>
        </div>

        <div class="col">
            <div class="container p-5 my-5 bg-light text-center position-relative">
                <h2>Attending</h2>
                <a href="/{{ user_id }}/attending" class="stretched-link"></a>
            </div>
        </div>
    </div>

{% endblock %}